## Data Assessment of Duplicate Record Files

**Metadata Summary**  
- üìÖ **Date of Retrieval:** JULY 1, 2025  
- üåê **Source of Data:** LGU San Jacinto Treasury Records
- üìÑ **License/Permission:**  
- üßë‚Äçüíº **Prepared by:** MARK JUNE E. ALMOJUELA

In [ ]:
result = compare_files("path/to/first.xlsx", "path/to/second.csv")
if result['are_equal']:
    print("Files are identical")
else:
    print("Files are different. Differences:")
    print(result['differences'])

False

          Consumer's Name                                        \
                     self                                 other
74                    NaN                                   NaN
162                   NaN                                   NaN
215   Espinosa, Jerol (B)  Espinosa, Jerol (B)/Canares, Ephraim
514                   NaN                                   NaN
515                   NaN                                   NaN
525                   NaN                                   NaN
568                   NaN                                   NaN
574                   NaN                                   NaN
820          Garcia, Joel                         Grencio, Joel
1342     Potalba, Joselon                     Pontalba, Joselon

     Water Meter Serial #            Previous       Present         Cons.  \
                     self      other     self other    self other    self
74                    NaN        NaN     4015   415     NaN   416 -4015.0
162                   NaN        NaN      NaN   NaN     NaN  8266 -8087.0
215                   NaN        NaN      NaN   NaN     NaN   NaN     NaN
514                   NaN        NaN     2857  2838     NaN   NaN     7.0
515                   NaN        NaN     2591           NaN   NaN     NaN
525             017097-02  059423-20      NaN   NaN     NaN   NaN     NaN
568                   NaN        NaN      NaN   NaN    1470   NaN    18.0
574                   NaN        NaN      NaN   NaN     NaN   NaN     NaN
820                   NaN        NaN      NaN   NaN     NaN   NaN     NaN
1342                  NaN        NaN      NaN   NaN     NaN   NaN     NaN

             Amount
       other   self   other
74       1.0    NaN     NaN
162    179.0   60.0  1074.0
215      NaN    NaN     NaN
514     26.0   60.0   156.0
515      NaN    NaN     NaN
525      NaN    NaN     NaN
568  -1452.0  108.0    60.0
574      NaN   60.0   252.0
820      NaN    NaN     NaN
1342     NaN    NaN     NaN